services:
  frontend:
    image: node:20
    container_name: my-frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    working_dir: /app
    command: sh -c "npm install && npm run dev -- --host"
    environment:
      NODE_ENV: development

  web:
    image: node:20
    container_name: my-app
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
    working_dir: /app
    command: sh -c "npm install && npm run build && npm start"
    environment:
      NODE_ENV: development
    depends_on:
      - mongo

  mongo:
    image: mongo:7
    container_name: my-mongo
    ports:
      - "27018:27017"
    volumes:
      - mongo-data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password

volumes:
  mongo-data:

